

.button{
    border: none;
    outline: none;
    color: var(--text-color-dark);
    font-weight: 600;
    min-width: 5rem;
    padding: .6rem .9rem;
    background-color: var(--main-color);
    border-radius: 5px;
    transition: var(--main-transition);
    box-shadow: 0 0 3px var(--main-color);
    margin: .5rem 0;
    cursor: pointer;
    &:hover{
        box-shadow: 0 0 10px var(--main-color);
    }
}