.projects{
    &__head{
        text-align: center;}
    &__title{
        font-size: var(--xl-font);
    }
    &__desc{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    
// _____________________________________________________

    &__cards{
        display: flex;
    }
    &__project{
        border-radius: 2rem;
        overflow: hidden;
        width: auto;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        
    }


// _____________________________________________________
        // buttons
    &__buttons{
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin: 2rem auto;
        width: 100%;
    }
    &__button{
        height: 3rem;
        font-weight: bold;
        color: var(--container-color);
        font-size: var(--lg-font);
        text-align: center;
        &:hover{
            text-shadow: 0 0 1px var(--container-color);
        }
        &--more{
            display: block;
            margin: .3rem auto;
        }
    }
    &__button__right{
        border-radius: 20% 80% 80% 20% / 50% 50% 50% 50% ;
    }
    &__button__left{
        border-radius: 75% 25% 25% 75% / 50% 50% 50% 50%;
    }
}